.contactMe{
    height: 100vh;
    width: 100%;
    position: relative;
}

.errorDisplay{
    position: absolute;
    top: 10px;
    left: 38%;
    font-size: 20px;
    background-color: red;
    padding: 5px 10px;
    color: rgb(255, 150, 150);
    border-radius: 5px;
}

.errorDisplayNone{
    display:block;
    
}

.contactMeContainer{
    padding: 50px 150px;
    display: flex;
    height: 100vh;
}

.contactMeLeft{
    flex: 1;
    padding: 30px 15px;
    box-shadow: 10px 12px 8px -15px rgba(0, 0, 0, 0.75);
    margin-right: 25px;
    max-width: 50%;

}

.contactMeLeftInput{
    margin-bottom: 30px;
    width: 100%;
}

.contactMeLeftInput.firstAndLast input{
    width: 47%;
    margin-right: 8px;
    padding: 8px 9px;
    border: none;
    border-bottom: 1px solid var(--rose);
    font-family: 'Montserrat', sans-serif;
}

.contactMeLeftInput.firstAndLast input:focus{
    outline:none;
}

.contactMeLeftInput.email input, .contactMeLeftInput.subject input{
    width: 100%;
    padding: 8px 9px;
    border: none;
    border-bottom: 1px solid var(--rose);
    font-family: 'Montserrat', sans-serif;
}

.contactMeLeftInput.email input:focus, .contactMeLeftInput.subject input:focus{
    outline: none;
}

.contactMeLeftInput textarea{
    padding: 5px 8px;
    width: 100%;
    border: 0.2px solid var(--rose);
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

.contactMeLeftInput textarea:focus{
    outline: none;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.contactMeLeftButton button{
    width: 100%;
    padding: 9px 8px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: var(--rose);
    height: 44px;
}

.contactMeRight{
    position: relative;
    flex: 1;
    max-width: 50%;
    height: 100%;    
}

.contactMeRightImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contactMeRightImage img{
    width: 350px;
    height: 300px;
    display: flex;
    object-fit: contain;
}

.contactMeSubmitted{
    height: 100vh;
    width: 100%;
}

.contactMeSubmittedContainer{
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactMeSubmittedContainer h1{
    font-size: 22px;
    font-weight: 300;
}

.contactMeSubmittedContainer img{
    width: 250px;
    height: 200px;
    object-fit: contain;
}

/*
loading animation

*/
.lds-dual-ring {
    display: inline-block;
    width: 15px;
    height: 15px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
.contactMe{
    width: 100%;
    height: auto;
}

.contactMeContainer{
    padding: 0px;
}

}

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .contactMe{
        width: 100%;
        height: auto;
    }

    .contactMeContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .contactMeLeft{
        padding: 20px auto;
        margin: 0 auto;
        max-width: 100%;

    }

    .contactMeRight{
        max-width: 100%;
        display: none;
    }

  }